
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// Intro Page
.banner{
  height: 50vh;
  width: 100%;
}

.menu-left{
  display: inline-block;;
  width: 50%;
}

.order-right{
 display: inline-block;;
 width: 50%;
}

// Order Page
h2{
  text-align: center;
}

.order-bar{
  // position: fixed;
}

.order-items{
  list-style: none;
}

// Menu Page
